<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>权限管理系统</title>

	<!-- css导入位置 -->

	<style>
		/** skins **/
		
		#header {background: #28A176;}
		.content_tab{background: #28A176;}
		.s-profile>a{background: url('../../resources/site/images/zheng-upms.png') left top no-repeat;}
	</style>
</head>
<body>

<main id="main">

	<!-- 左侧导航导入位置 -->

	<section id="content">
	<!-- /主内容上部导航区 -->
		<div class="content_tab">
			<div class="tab_left">
				<a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="tab_right">
				<a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-right"></i></a>
			</div>
			<ul id="tabs" class="tabs">
				<li id="tab_home" data-index="home" data-closeable="false" class="cur">
					<a class="waves-effect waves-light" href="javascript:;">首页</a>
				</li>
			</ul>
		</div>


		<!-- 主内容展示区 -->
		<div class="content_main" style="width:500px;margin-left:auto;margin-right:auto">
		

		</div>
</section>
</main>

	<!-- 尾部导入区 -->

</body>
	<!-- js导入区 -->
</html>